@font-face {
  font-family: 'pokemon';
  src: url('../PokemonClassic.ttf');
  font-style: normal;
  font-weight: lighter;
}

body{
  font-family: 'pokemon';
}

#contenido, #pokedexCerrada{
  background-color: rgb(206, 249, 255);
  text-align: center;
  border-style: groove;
  border-top: black;
  border-bottom: black;
  width: 445px;

}
.pokedex{
  width: 450px;
}
#general{
  margin-top: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#pokearriba{
  margin-bottom: -5px;
}
#avanzar, #retroceder{
  height: 50px; 
  margin: 20px; 
  background: white; 
  border: 0
}
#lupaYBotones{
  position: relative;
}
#contenido{
  display: flex;
  flex-direction: column;
}
#imgAbierta{
  width: 160px;
  height: 160px;
  border-radius: 10%;
}
#info{
  margin-top: 4%;
  text-align: left;
  font-size: small;
  padding: 5px;
  margin: 3%;
  border-radius: 10px;
  background-color: rgba(130, 191, 240, 0.699);
}

#descripcion{
  max-height: 140px;
  overflow-y: scroll;
  font-size: small;
  padding: 5px;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  background-color: rgba(130, 191, 240, 0.699);
}
.tituloDerecha{
  text-align: left;
  float: left;

}
#divImgAb{
  display: flex;
  align-items: center;
  margin: 3%;

}
.pestana{
  border-left: 3px solid  rgba(130, 191, 240, 0.699);
  border-right: 3px solid  rgba(130, 191, 240, 0.699);
  border-top: 3px solid  rgba(130, 191, 240, 0.699);
  border-bottom: 0px;
  background-color:  rgb(206, 249, 255);
  margin-right: -8px;
}