@font-face {
  font-family: 'pokemon';
  src: url('../PokemonClassic.ttf');
  font-style: normal;
  font-weight: lighter;
}

body{
  font-family: 'pokemon';
}

#contenido, #pokedexCerrada{
  background-color: rgb(206, 249, 255);
  text-align: center;
  border-style: groove;
  border-top: black;
  border-bottom: black;
  width: 445px;

}
.pokedex{
  width: 450px;
}
#general{
  margin-top: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#pokearriba{
  margin-bottom: -5px;
}
#avanzar, #retroceder{
  height: 50px; 
  margin: 20px; 
  background: white; 
  border: 0
}
#lupaYBotones{
  position: relative;
}
#contenido{
  display: flex;
  flex-direction: column;
}
#imgAbierta{
  width: 160px;
  height: 160px;
  border-radius: 10%;
  margin: 3%
}
#info{
  margin-top: 7%;
  text-align: left;
}

#descripcion{
  max-height: 150px;
  overflow-y: scroll;
}