@font-face {
  font-family: 'pokemon';
  src: url('../PokemonClassic.ttf');
  font-style: normal;
  font-weight: lighter;
}

body{
  font-family: 'pokemon';
}

#contenido, #pokedexCerrada{
  background-color: rgb(206, 249, 255);
  text-align: center;
  border-style: groove;
  border-top: black;
  border-bottom: black;
  width: 445px;

}
.pokedex{
  width: 450px;
}
#general{
  margin-top: 5%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#pokearriba{
  margin-bottom: -5px;
}
#avanzar, #retroceder{
  height: 50px; 
  margin: 20px; 
  background: white; 
  border: 0
}
#lupaYBotones{
  position: relative;
}
#contenido{
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}
#imgAbierta{
  width: 160px;
  height: 160px;
  border-radius: 10%;
}
#info{
  margin-top: 4%;
  text-align: left;
  font-size: small;
  padding: 5px;
  margin: 3%;
  border-radius: 10px;
  background-color: rgba(130, 191, 240, 0.699);
}

#descripcion{
  max-height: 140px;
  overflow-y: scroll;
  font-size: small;
  padding: 5px;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  background-color: rgba(130, 191, 240, 0.699);
}
.tituloDerecha{
  text-align: left;
  float: left;

}
#divImgAb{
  display: flex;
  align-items: center;
  margin: 3%;

}
.pestana{
  border-left: 3px solid  rgba(130, 191, 240, 0.699);
  border-right: 3px solid  rgba(130, 191, 240, 0.699);
  border-top: 3px solid  rgba(130, 191, 240, 0.699);
  border-radius: 10px 10px 0px 0px;
  border-bottom: 0px;
  background-color:  rgb(206, 249, 255);
  margin-right: -8px;
}

  
.gg-push-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 2px;
  background: currentColor;
 }
 
 .gg-push-left::after,
 .gg-push-left::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 12px;
  border-left: 2px solid;
  left: -5px;
  top: -5px
 }
 
 .gg-push-left::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  transform: rotate(45deg);
  top: -3px;
  left: 0
 } 
 .gg-push-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 2px;
  background: currentColor;
 }
 
 .gg-push-right::after,
 .gg-push-right::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 12px;
  border-right: 2px solid;
  right: -5px;
  top: -5px
 }
 
 .gg-push-right::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  transform: rotate(45deg);
  top: -3px;
  right: 0
 } 